<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>
<body>

    <%- include('header'); %>

    <main class="p-4">
        <h3>Applications</h3>

        <table class="table table-sm table-bordered">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Company</th>
                    <th>Job position</th>
                    <th>Domain</th>
                    <th>Country</th>
                    <th>Is remote?</th>
                    <th>Status</th>
                    <th>Date</th>
                    <th>Next date</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                <% applications.forEach(function(app) { %>
                    <tr>
                        <td><%= app.id %></td>
                        <td><%= app.company_name %></td>
                        <td><%= app.job_position %></td>
                        <td><%= app.domain_name %></td>
                        <td><%= app.country_name %></td>
                        <td><%= app.is_remote ? 'Yes' : 'No' %></td>
                        <td>
                            <span class="badge btn <%= app.status_name === 'Rejected' ? 'btn-danger' : (app.status_name === 'Accepted' ? 'btn-success' : 'btn-info') %>">
                                <%= app.status_name %>
                            </span>
                        </td>
                        <td><%= (new Date(app.date)).toLocaleDateString('en-GB') %></td>
                        <td><%= app.next_date ? (new Date(app.next_date)).toLocaleDateString('en-GB') : '' %></td>
                        <td>
                            <a class="badge btn btn-outline-info" href="<%= app.link %>">🔗</a>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        
    </main>

    <%- include('footer'); %>

</body>
</html>
