<!DOCTYPE html>
<html lang="en">
<%- include('head'); %>

<body>

<%- include('header'); %>

<main class="p-4">
    <h3>Companies</h3>

    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Size</th>
                <th>Website</th>
                <th>Reviews</th>
                <th>Contacts</th>
            </tr>
        </thead>
        <tbody>
            <% companies.forEach(function(company) { %>
                <tr>
                    <td>
                        <%= company.id %>
                    </td>
                    <td>
                        <%= company.name %>
                    </td>
                    <td>
                        <%= company.size %>
                    </td>
                    <td>
                        <a href="https://<%= company.link %>"><%= company.link %></a>
                    </td>
                    <td>
                        <% company.reviews.forEach(function(review) { %>
                          <div class="td-paragraph-info">
                            <p class="m-0 p-0 starRating" data-rating="<%= review.rating %>"></p>
                            <p class="m-0 p-0">
                              <%= review.description %>
                            </p>
                            <p class="m-0 p-0">
                              <a class="badge btn btn-outline-info" href="<%= review.link %>">🔗</a>
                            </p>
                          </div>
                        <% }); %>
                      </td>
                    <td>
                        <% company.contacts.forEach(function(contact) { %>
                            <p class="bg-gradient-secondary">
                                <p class="m-0 p-0">
                                    <%= contact.name %>
                                </p>
                                <p class="m-0 p-0">
                                    <a class="badge btn btn-outline-info" href="<%= contact.link %>">🔗</a>
                                </p>
                            </p>
                        <% }); %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>
</main>

<%- include('footer'); %>

</body>

</html>